@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");

$font-size-base: 1rem;
$font-family-sans-serif: "Roboto Condensed", Arial, sans-serif;

$primary: #27941B;

$headings-font-weight: 700;

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.btn {white-space: nowrap;}
.btn-primary {color: white !important;}


[aria-expanded="true"] .expanded-indicator {
  transform: rotate(180deg);
  transition: transform 200ms ease;
}

[aria-expanded="false"] .expanded-indicator {
  transform: rotate(360deg);
  transition: transform 200ms ease;
}

// ----------------------------------------------------------------------------------------
// import the entire bootstrap library
// ----------------------------------------------------------------------------------------
@import "./bootstrap";
// ----------------------------------------------------------------------------------------
